<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>bundleid</key>
  <string>com.baleen.firefox-profiles</string>
  <key>category</key>
  <string>Productivity</string>
  <key>connections</key>
  <dict>
    <key>3E6C8A56-9C1D-4E2A-B4E7-1C8D7A6F5B20</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>8A4F2D91-7C35-4F0B-A6E2-5D9B1C3F7A84</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
    <key>8A4F2D91-7C35-4F0B-A6E2-5D9B1C3F7A84</key>
    <array/>
  </dict>
  <key>createdby</key>
  <string>baleen</string>
  <key>description</key>
  <string>List and open Firefox profiles.</string>
  <key>disabled</key>
  <false/>
  <key>name</key>
  <string>Firefox Profiles</string>
  <key>objects</key>
  <array>
    <dict>
      <key>config</key>
      <dict>
        <key>alfredfiltersresults</key>
        <true/>
        <key>alfredfiltersresultsmatchmode</key>
        <integer>0</integer>
        <key>argumenttreatemptyqueryasnil</key>
        <false/>
        <key>argumenttrimmode</key>
        <integer>0</integer>
        <key>argumenttype</key>
        <integer>2</integer>
        <key>escaping</key>
        <integer>0</integer>
        <key>keyword</key>
        <string>ff</string>
        <key>queuedelaycustom</key>
        <integer>3</integer>
        <key>queuedelayimmediatelyinitially</key>
        <true/>
        <key>queuedelaymode</key>
        <integer>0</integer>
        <key>queuemode</key>
        <integer>1</integer>
        <key>runningsubtext</key>
        <string>Reading Firefox profiles...</string>
        <key>script</key>
        <string></string>
        <key>scriptargtype</key>
        <integer>1</integer>
        <key>scriptfile</key>
        <string>./list-profiles.zsh</string>
        <key>subtext</key>
        <string>Select a Firefox profile</string>
        <key>title</key>
        <string>Firefox Profiles</string>
        <key>type</key>
        <integer>8</integer>
        <key>withspace</key>
        <false/>
      </dict>
      <key>type</key>
      <string>alfred.workflow.input.scriptfilter</string>
      <key>uid</key>
      <string>3E6C8A56-9C1D-4E2A-B4E7-1C8D7A6F5B20</string>
      <key>version</key>
      <integer>3</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>concurrently</key>
        <false/>
        <key>escaping</key>
        <integer>0</integer>
        <key>script</key>
        <string></string>
        <key>scriptargtype</key>
        <integer>1</integer>
        <key>scriptfile</key>
        <string>./open-profile.zsh</string>
        <key>type</key>
        <integer>8</integer>
      </dict>
      <key>type</key>
      <string>alfred.workflow.action.script</string>
      <key>uid</key>
      <string>8A4F2D91-7C35-4F0B-A6E2-5D9B1C3F7A84</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
  </array>
  <key>readme</key>
  <string>Type ff in Alfred to choose a registered Firefox profile.</string>
  <key>uid</key>
  <string>user.workflow.4F7B3C2A-8E1D-46A9-B5C0-7D2E9F1A6C84</string>
  <key>uidata</key>
  <dict>
    <key>3E6C8A56-9C1D-4E2A-B4E7-1C8D7A6F5B20</key>
    <dict>
      <key>xpos</key>
      <real>180</real>
      <key>ypos</key>
      <real>100</real>
    </dict>
    <key>8A4F2D91-7C35-4F0B-A6E2-5D9B1C3F7A84</key>
    <dict>
      <key>xpos</key>
      <real>520</real>
      <key>ypos</key>
      <real>100</real>
    </dict>
  </dict>
  <key>version</key>
  <string>1.0</string>
</dict>
</plist>
