<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotkey</key>
	<dict>
		<key>key</key>
		<integer>49</integer>
		<key>mod</key>
		<integer>1048576</integer>
		<key>string</key>
		<string>Space</string>
	</dict>
	<key>resultsLimit</key>
	<integer>9</integer>
	<key>theme</key>
	<string>alfred.theme.yosemite.dark</string>
	<key>showInMenuBar</key>
	<false/>
	<key>enableSnippets</key>
	<true/>
	<key>enableClipboard</key>
	<true/>
	<key>clipboardHistorySize</key>
	<integer>500</integer>
	<key>enableSystemShortcuts</key>
	<true/>
	<key>enableCalculator</key>
	<true/>
	<key>enableContacts</key>
	<true/>
	<key>enableWebBookmarks</key>
	<true/>
	<key>enableWebSearch</key>
	<true/>
	<key>fileSearchScope</key>
	<array>
		<string>~/Desktop</string>
		<string>~/Documents</string>
		<string>~/Downloads</string>
		<string>~/Applications</string>
		<string>/Applications</string>
	</array>
	<key>searchAllUsedApplications</key>
	<true/>
	<key>searchApplications</key>
	<true/>
	<key>showLargeTypeSize</key>
	<integer>192</integer>
</dict>
</plist>